<div class="conteudo conteudo-unico">
    <div class="card" style="width: 40rem;">
    <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID:</b> {{pet.id}}</li>
            <li class="list-group-item"><b>Documento do Dono:</b> {{pet.documentoDono}}</li>
            <li class="list-group-item"><b>Nome do Dono:</b> {{pet.nomeDono}}</li>
            <li class="list-group-item"><b>Identificação do Pet:</b> {{pet.identificacaoPet}}</li>
            <li class="list-group-item"><b>Nome do Pet:</b> {{pet.nomePet}}</li>
            <li class="list-group-item"><b>Tipo do Pet:</b> {{pet.tipo}}</li>
            <li class="list-group-item"><b>Raça:</b> {{pet.raca}}</li>
    </ul>
    </div>
    <div>
        <a class="btn btn-primary" href="/pets">Voltar</a>
    </div>
</div>
