<div id="pets-page">
    <div class="pet-container">
        <ul>
            <li>ID: {{pet.id}}</li>
            <li>Documento do Dono: {{pet.documentoDono}}</li>
            <li>Nome do Dono: {{pet.nomeDono}}</li>
            <li>Identificação do Pet: {{pet.identificacaoPet}}</li>
            <li>Nome do Pet: {{pet.nomePet}}</li>
            <li>Tipo do Pet: {{pet.tipo}}</li>
            <li>Raça: {{pet.raca}}</li>
        </ul>
    </div>
    <div class="btn">
        <a class="btn btn-voltar" href="/pets">Voltar</a>
    </div>
</div>